# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Automation / Credentials
automation/cookies.json
cookies.json
x_user_data/
for-note-post/note_cookies.json
note_cookies.json
*.Identifier

# Mac/Windows system files
.DS_Store
Thumbs.db

# etc
memo.txt
