# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Automation / Credentials
automation/cookies.json
*.Identifier

# Mac/Windows system files
.DS_Store
Thumbs.db
